{% load static from staticfiles%}

<!DOCTYPE html>
<html lang="en">
<head >
<link rel="stylesheet" href="{% static 'css/index.css' %}">
    <!--If CSS doesn't update use CTRL+SHIFT+DEL on chrome to delete the cache-->
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>

<img class='logo' src="/static/img/logo.png"/>
<div class="homepageButtons">
<button class="homeLogin"><a href="{% url 'login' %}">Log in</a></button>
<button class="homesignup"><a href="{% url 'signup' %}">Sign up</a></button>
<button class="exploreButton">Explore</button>
</div>

<div class="typewriterHomeAnimation"><h1>Showcase your own Portfolio</h1></div>

</body>
</html>