<!DOCTYPE html>
<html lang="en">
<head >
    {% load static from staticfiles%}
<link rel="stylesheet" href="{% static 'css/homepage.css' %}">
    <!--If CSS doesn't update use CTRL+SHIFT+DEL on chrome to delete the cache-->
    <meta charset="UTF-8">
    <title>Homepage</title>
</head>
<body>
<h1>HomePage</h1>

<button>Log in</button>
<button><a href="{% url 'signup' %}">Sign up</a></button>
<button>Explore</button>

{% for articles in articles%}
        <div class = "article">
        <h2><a href="#">{{ article.title }}</a></h2>
        <p>{{ article.body }}</p>
        <p>{{ article.date }}</p>
        </div>
    {% endfor %}
</body>
</html>